# PART1 データを読み込んでみよう
## おまじない
- まずおまじないを書くために、このセルの下に新しいセルを作ろう

In [2]:
!pip install japanize-matplotlib

Collecting japanize-matplotlib
  Downloading japanize-matplotlib-1.1.3.tar.gz (4.1 MB)
     |████████████████████████████████| 4.1 MB 7.5 MB/s
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from japanize-matplotlib) (3.2.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->japanize-matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->japanize-matplotlib) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->japanize-matplotlib) (3.0.6)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->japanize-matplotlib) (2.8.2)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib->japanize-matplotlib) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib->japanize-matplotlib) (1.15.0)
Building wheels for collected packages: japanize-matplotlib
  Building wheel for japanize-matplotlib (setup.py) ... done
  Created wheel for japanize-matplotlib: filename=japanize_matplotlib-1.1.3-py3-none-any.whl size=4120274 sha256=e3314601fc3700bcbdcdbea45ff958d753ec13c4e9232aaf66224910d1fbd0ea
  Stored in directory: /root/.cache/pip/wheels/83/97/6b/e9e0cde099cc40f972b8dd23367308f7705ae06cd6d4714658
Successfully built japanize-matplotlib
Installing collected packages: japanize-matplotlib
Successfully installed japanize-matplotlib-1.1.3

In [3]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import japanize_matplotlib
%matplotlib inline

## データの読み込み
- データを読み込む前にcase1の中にあるtrain.csvをメモ帳で開いて確かめてみましょう（excelで開くと文字化けします）
- 拡張子のcsvとはカンマで区切られたデータのことです
- 通常、列の頭には列行の内容を示す名前がついています（ない場合もあります）

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
train = pd.read_csv('/content/drive/MyDrive/practice/practice_data/train.csv')

## 早速trainのデータの中身を見てみましょう
- head関数を使います
- 関数は必ずカッコが必要になります

In [7]:
train.head()

     datetime    y week  soldout  ... payday  weather precipitation temperature
0  2013-11-18   90    月        0  ...    NaN       快晴            --        19.8
1  2013-11-19  101    火        1  ...    NaN       快晴            --        17.0
2  2013-11-20  118    水        0  ...    NaN       快晴            --        15.5
3  2013-11-21  120    木        1  ...    NaN       快晴            --        15.2
4  2013-11-22  130    金        1  ...    NaN       快晴            --        16.1

[5 rows x 12 columns]

## headは先頭行を表示するが、最終行が見たい場合は・・・

In [8]:
train.tail()

      datetime   y week  soldout  ... payday  weather precipitation temperature
202  2014-9-24  59    水        1  ...    NaN        曇             0        24.8
203  2014-9-25  50    木        0  ...    NaN        曇             0        25.4
204  2014-9-26  45    金        0  ...    NaN       晴れ            --        27.1
205  2014-9-29  56    月        1  ...    NaN       快晴            --        26.6
206  2014-9-30  40    火        0  ...    NaN       快晴            --        28.1

[5 rows x 12 columns]

## 行数と列数を確認したい場合はshapeを使います
- shapeは関数ではないのでカッコはいりません

In [ ]:
train.shape

(207, 12)

# 実習

1.test.csvの変数名をtestとして、sample.csvの変数名をsampleとして読み込んでみよう
- ファイル名を書く時はダブルクォーテーションを忘れないようにしよう

In [12]:
test = pd.read_csv('/content/drive/MyDrive/practice/practice_data/test.csv')
sample = pd.read_csv('/content/drive/MyDrive/practice/practice_data/sample.csv')

2.testは何行何列ありますか？

In [13]:
train.shape

(207, 12)

3.testの3行目のメニューはなんでしょう？

In [14]:
test.head()

    datetime week  soldout  ... weather  precipitation temperature
0  2014-10-1    水        1  ...       雨              0        20.2
1  2014-10-2    木        0  ...       曇             --        23.9
2  2014-10-3    金        0  ...      晴れ             --        28.7
3  2014-10-6    月        1  ...       雨            0.5        21.5
4  2014-10-7    火        0  ...      晴れ             --        22.1

[5 rows x 11 columns]

4.testの10行目まで見たい。どうしたらいいか考えてみよう

In [ ]:
test.head(10)

     datetime week  soldout  ... weather  precipitation temperature
0   2014-10-1    水        1  ...       雨              0        20.2
1   2014-10-2    木        0  ...       曇             --        23.9
2   2014-10-3    金        0  ...      晴れ             --        28.7
3   2014-10-6    月        1  ...       雨            0.5        21.5
4   2014-10-7    火        0  ...      晴れ             --        22.1
5   2014-10-8    水        0  ...      晴れ             --        23.3
6   2014-10-9    木        0  ...       曇             --        22.5
7  2014-10-10    金        0  ...      薄曇             --        26.1
8  2014-10-14    火        0  ...      快晴             --        26.8
9  2014-10-15    水        1  ...       雨            1.5        15.6

[10 rows x 11 columns]

5.sampleはこのままではちょっとおかしい部分がある。どこがおかしいか？

In [ ]:
sample

     2014-10-1  24
0    2014-10-2  71
1    2014-10-3  25
2    2014-10-6  32
3    2014-10-7  60
4    2014-10-8  44
5    2014-10-9  64
6   2014-10-10  33
7   2014-10-14  67
8   2014-10-15  28
9   2014-10-16  90
10  2014-10-17  73
11  2014-10-20   9
12  2014-10-21  76
13  2014-10-22   1
14  2014-10-23  99
15  2014-10-24  73
16  2014-10-27  60
17  2014-10-28  99
18  2014-10-29  69
19  2014-10-30  68
20  2014-10-31  35
21   2014-11-4   2
22   2014-11-5  24
23   2014-11-6  10
24   2014-11-7  16
25  2014-11-10  43
26  2014-11-11  20
27  2014-11-12  88
28  2014-11-13  18
29  2014-11-14  63
30  2014-11-17  23
31  2014-11-18  55
32  2014-11-19  83
33  2014-11-20  87
34  2014-11-21  55
35  2014-11-25  47
36  2014-11-26  60
37  2014-11-27  80
38  2014-11-28  77

In [16]:
sample= pd.read_csv('/content/drive/MyDrive/practice/practice_data/sample.csv', header = None)

In [17]:
sample.head()

           0   1
0  2014-10-1  24
1  2014-10-2  71
2  2014-10-3  25
3  2014-10-6  32
4  2014-10-7  60