# PART2 データをもう少し詳しく見てみよう
## おまじない

In [ ]:
!pip install japanize-matplotlib
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import japanize_matplotlib
%matplotlib inline
from google.colab import drive
drive.mount('/content/drive')

Collecting japanize-matplotlib
  Downloading japanize-matplotlib-1.1.3.tar.gz (4.1 MB)
     |████████████████████████████████| 4.1 MB 6.9 MB/s
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from japanize-matplotlib) (3.2.2)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib->japanize-matplotlib) (1.19.5)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->japanize-matplotlib) (1.3.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->japanize-matplotlib) (3.0.6)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->japanize-matplotlib) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->japanize-matplotlib) (0.11.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib->japanize-matplotlib) (1.15.0)
Building wheels for collected packages: japanize-matplotlib
  Building wheel for japanize-matplotlib (setup.py) ... done
  Created wheel for japanize-matplotlib: filename=japanize_matplotlib-1.1.3-py3-none-any.whl size=4120274 sha256=e2ee20bf2895bc6c63ec1e83905f376de8ad476eccd40f482122582b9830143e
  Stored in directory: /root/.cache/pip/wheels/83/97/6b/e9e0cde099cc40f972b8dd23367308f7705ae06cd6d4714658
Successfully built japanize-matplotlib
Installing collected packages: japanize-matplotlib
Successfully installed japanize-matplotlib-1.1.3
Mounted at /content/drive

## データの読み込み
- train.csvを読み込みましょう
- 読み込んだものは変数trainに代入しましょう

In [ ]:
train = pd.read_csv('drive/My Drive/case1/train.csv')

## trainの先頭行を見てみましょう

In [ ]:
train.head()

     datetime    y week  soldout  ... payday  weather precipitation temperature
0  2013-11-18   90    月        0  ...    NaN       快晴            --        19.8
1  2013-11-19  101    火        1  ...    NaN       快晴            --        17.0
2  2013-11-20  118    水        0  ...    NaN       快晴            --        15.5
3  2013-11-21  120    木        1  ...    NaN       快晴            --        15.2
4  2013-11-22  130    金        1  ...    NaN       快晴            --        16.1

[5 rows x 12 columns]

## 基本統計量を確認してみましょう
- describe関数を使います

In [ ]:
train.describe()

                y     soldout        kcal  payday  temperature
count  207.000000  207.000000  166.000000    10.0   207.000000
mean    86.623188    0.449275  404.409639     1.0    19.252174
std     32.882448    0.498626   29.884641     0.0     8.611365
min     29.000000    0.000000  315.000000     1.0     1.200000
25%     57.000000    0.000000  386.000000     1.0    11.550000
50%     78.000000    0.000000  408.500000     1.0    19.800000
75%    113.000000    1.000000  426.000000     1.0    26.100000
max    171.000000    1.000000  462.000000     1.0    34.600000

## データの型を確認してみましょう
- info関数を使います

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207 entries, 0 to 206
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   datetime       207 non-null    object
 1   y              207 non-null    int64
 2   week           207 non-null    object
 3   soldout        207 non-null    int64
 4   name           207 non-null    object
 5   kcal           166 non-null    float64
 6   remarks        21 non-null     object
 7   event          14 non-null     object
 8   payday         10 non-null     float64
 9   weather        207 non-null    object
 10  precipitation  207 non-null    object
 11  temperature    207 non-null    float64
dtypes: float64(3), int64(2), object(7)
memory usage: 19.5+ KB

## 1つのカラムだけに注目してみましょう
- ここでは"y"というカラムを見てみましょう

In [ ]:
train['y']

0       90
1      101
2      118
3      120
4      130
      ...
202     59
203     50
204     45
205     56
206     40
Name: y, Length: 207, dtype: int64

## yの平均と中央値を見てみましょう
- 平均値はmean関数、中央値はmedian関数を使います

In [ ]:
train['y'].mean()

86.6231884057971

In [ ]:
train['y'].median()

78.0

## yの値が150以上のデータのみを見てみましょう

In [ ]:
train[train['y'] >= 150]

      datetime    y week  soldout  ... payday  weather precipitation temperature
8   2013-11-28  151    木        0  ...    NaN       薄曇            --        17.7
10   2013-12-2  151    月        1  ...    NaN       快晴            --        13.8
11   2013-12-3  153    火        1  ...    NaN       快晴            --        13.9
12   2013-12-4  151    水        1  ...    NaN       晴れ            --        13.5
13   2013-12-5  171    木        0  ...    NaN       快晴            --        13.8
15   2013-12-9  165    月        1  ...    NaN        曇            --         9.1
16  2013-12-10  155    火        0  ...    1.0        曇           0.5         7.1
17  2013-12-11  157    水        0  ...    NaN        曇            --        11.0
20  2013-12-16  160    月        0  ...    NaN       快晴            --        11.3
23  2013-12-19  151    木        0  ...    NaN        雨           0.5         6.8

[10 rows x 12 columns]

## 曜日が月となっているデータのみを見てみましょう

In [ ]:
train[train['week'] == '月']

       datetime    y week  soldout  ... payday  weather precipitation temperature
0    2013-11-18   90    月        0  ...    NaN       快晴            --        19.8
5    2013-11-25  135    月        1  ...    NaN        曇            --        14.6
10    2013-12-2  151    月        1  ...    NaN       快晴            --        13.8
15    2013-12-9  165    月        1  ...    NaN        曇            --         9.1
20   2013-12-16  160    月        0  ...    NaN       快晴            --        11.3
36    2014-1-20  126    月        1  ...    NaN       晴れ            --         6.5
41    2014-1-27  126    月        1  ...    NaN       快晴            --         5.1
46     2014-2-3  139    月        1  ...    NaN       晴れ            --        15.9
51    2014-2-10  137    月        0  ...    1.0        曇            --         7.8
55    2014-2-17  137    月        1  ...    NaN       晴れ            --        11.6
60    2014-2-24  129    月        1  ...    NaN        曇            --         6.6
65     2014-3-3  131    月        0  ...    NaN        曇            --         7.8
70    2014-3-10  123    月        0  ...    1.0        曇            --         7.6
75    2014-3-17  129    月        0  ...    NaN       快晴            --        14.0
79    2014-3-24  102    月        0  ...    NaN       快晴            --        17.4
84    2014-3-31   84    月        0  ...    NaN       晴れ            --        17.5
89     2014-4-7  107    月        0  ...    NaN       快晴            --        13.8
94    2014-4-14   92    月        0  ...    NaN       晴れ            --        16.4
99    2014-4-21  109    月        0  ...    NaN        曇            --        16.4
104   2014-4-28   54    月        0  ...    NaN       晴れ            --        22.7
111   2014-5-12   73    月        0  ...    NaN       薄曇            --        22.7
116   2014-5-19   70    月        1  ...    NaN        曇            --        22.8
121   2014-5-26   77    月        1  ...    NaN       薄曇            --        23.9
126    2014-6-2   74    月        0  ...    NaN       薄曇            --        30.6
131    2014-6-9   74    月        1  ...    NaN        雨             0        25.0
136   2014-6-16   76    月        1  ...    NaN       薄曇            --        28.1
141   2014-6-23   72    月        0  ...    NaN        曇            --        26.9
146   2014-6-30   65    月        0  ...    NaN       薄曇            --        25.5
151    2014-7-7   82    月        1  ...    NaN        雨           0.5        24.0
156   2014-7-14   65    月        1  ...    NaN       薄曇             0        30.9
165   2014-7-28   65    月        1  ...    NaN       晴れ            --        28.9
170    2014-8-4   75    月        1  ...    NaN        曇            --        32.7
175   2014-8-11   45    月        0  ...    NaN       晴れ            --        32.4
177   2014-8-18   56    月        0  ...    NaN        曇            --        32.2
182   2014-8-25   55    月        0  ...    NaN        曇             0        26.0
187    2014-9-1   65    月        1  ...    NaN        曇            --        23.4
192    2014-9-8   68    月        1  ...    NaN        曇            --        23.1
201   2014-9-22   29    月        0  ...    NaN       晴れ            --        25.2
205   2014-9-29   56    月        1  ...    NaN       快晴            --        26.6

[39 rows x 12 columns]

## 曜日が火となっているデータをyで昇順・降順にして見てみましょう
- ソートはsort_values関数を使います。sort_values(by="XXX")と書きます
- 降順にしたい場合はカッコの中にオプションとしてascending=Falseを書きます

In [1]:
train[train['week'] == '火'].sort_values(by = 'y')

NameError: ignored

In [ ]:
train[train['week'] == '火'].sort_values(by = 'y', ascending = False)

       datetime    y week  soldout  ... payday  weather precipitation temperature
16   2013-12-10  155    火        0  ...    1.0        曇           0.5         7.1
11    2013-12-3  153    火        1  ...    NaN       快晴            --        13.9
21   2013-12-17  145    火        0  ...    NaN        曇            --        10.8
6    2013-11-26  145    火        0  ...    NaN       快晴            --        17.9
28     2014-1-7  131    火        0  ...    NaN       快晴            --         7.3
32    2014-1-14  129    火        1  ...    NaN       晴れ            --         5.8
37    2014-1-21  129    火        1  ...    NaN       快晴            --        10.4
85     2014-4-1  125    火        1  ...    NaN       薄曇            --        16.1
25   2013-12-24  122    火        0  ...    NaN       快晴            --        11.5
47     2014-2-4  121    火        1  ...    NaN        雨             0         3.8
42    2014-1-28  120    火        0  ...    NaN       快晴            --        12.6
61    2014-2-25  104    火        0  ...    NaN       快晴            --        10.5
1    2013-11-19  101    火        1  ...    NaN       快晴            --        17.0
66     2014-3-4  100    火        1  ...    NaN       晴れ            --         8.3
56    2014-2-18   99    火        0  ...    NaN       晴れ            --         6.8
90     2014-4-8   96    火        1  ...    NaN       快晴            --        20.1
76    2014-3-18   90    火        1  ...    NaN       晴れ            --        18.9
71    2014-3-11   89    火        0  ...    NaN       快晴            --         8.7
95    2014-4-15   82    火        0  ...    NaN       快晴            --        19.7
122   2014-5-27   79    火        0  ...    NaN        曇            --        23.7
100   2014-4-22   78    火        1  ...    NaN        曇            --        18.8
80    2014-3-25   77    火        0  ...    NaN       快晴            --        18.9
117   2014-5-20   71    火        0  ...    NaN       薄曇            --        23.9
112   2014-5-13   70    火        1  ...    NaN        雨             0        18.6
183   2014-8-26   68    火        0  ...    NaN        雨             0        26.2
188    2014-9-2   68    火        1  ...    NaN       晴れ            --        29.1
137   2014-6-17   63    火        0  ...    NaN       薄曇            --        27.6
193    2014-9-9   63    火        0  ...    NaN       晴れ            --        26.8
142   2014-6-24   61    火        0  ...    NaN        曇             0        23.7
127    2014-6-3   59    火        0  ...    NaN       薄曇            --        27.0
132   2014-6-10   56    火        0  ...    1.0        曇            --        25.5
152    2014-7-8   56    火        0  ...    NaN       晴れ            --        29.7
197   2014-9-16   56    火        0  ...    NaN       晴れ            --        28.8
147    2014-7-1   54    火        0  ...    NaN        曇            --        28.3
171    2014-8-5   54    火        1  ...    NaN       快晴            --        34.3
161   2014-7-22   53    火        0  ...    NaN       晴れ            --        30.2
178   2014-8-19   53    火        1  ...    NaN       晴れ            --        33.3
166   2014-7-29   52    火        0  ...    NaN       晴れ            --        30.4
157   2014-7-15   51    火        0  ...    NaN       晴れ            --        30.3
176   2014-8-12   40    火        1  ...    NaN        雨             0        29.4
206   2014-9-30   40    火        0  ...    NaN       快晴            --        28.1

[41 rows x 12 columns]

## 曜日が月曜日の時のyの平均値を見てみましょう
- 今までの応用です。まず、trainから曜日が月曜日の条件で抜きだし、yを選択した上で、その後に平均値を求める関数を使います

In [ ]:
train[train['week'] == '月']['y'].mean()

94.05128205128206

# 実習

1.test.csvを変数testとして読み込もう

In [ ]:
test = pd.read_csv('drive/My Drive/case1/test.csv')

2.testの先頭行を確認しましょう

In [ ]:
test.head()

    datetime week  soldout  ... weather  precipitation temperature
0  2014-10-1    水        1  ...       雨              0        20.2
1  2014-10-2    木        0  ...       曇             --        23.9
2  2014-10-3    金        0  ...      晴れ             --        28.7
3  2014-10-6    月        1  ...       雨            0.5        21.5
4  2014-10-7    火        0  ...      晴れ             --        22.1

[5 rows x 11 columns]

3.testの基本統計量を調べてみよう

In [ ]:
test.describe()

         soldout        kcal  payday  temperature
count  40.000000   36.000000     2.0    40.000000
mean    0.425000  421.083333     1.0    18.665000
std     0.500641   13.626392     0.0     4.401838
min     0.000000  396.000000     1.0     9.200000
25%     0.000000  411.500000     1.0    15.250000
50%     0.000000  420.000000     1.0    19.000000
75%     1.000000  428.500000     1.0    21.650000
max     1.000000  460.000000     1.0    28.700000

4.trainのtemperatureの平均値を求めてみよう

In [ ]:
train['temperature'].mean()

19.252173913043478

5.trainのtemperatureが平均以上のデータだけを選択してみよう

In [ ]:
train[train['temperature'] >= train['temperature'].mean()]

       datetime   y week  soldout  ... payday  weather precipitation temperature
0    2013-11-18  90    月        0  ...    NaN       快晴            --        19.8
90     2014-4-8  96    火        1  ...    NaN       快晴            --        20.1
92    2014-4-10  87    木        0  ...    1.0       晴れ            --        21.3
95    2014-4-15  82    火        0  ...    NaN       快晴            --        19.7
96    2014-4-16  57    水        0  ...    NaN       薄曇            --        21.5
..          ...  ..  ...      ...  ...    ...      ...           ...         ...
202   2014-9-24  59    水        1  ...    NaN        曇             0        24.8
203   2014-9-25  50    木        0  ...    NaN        曇             0        25.4
204   2014-9-26  45    金        0  ...    NaN       晴れ            --        27.1
205   2014-9-29  56    月        1  ...    NaN       快晴            --        26.6
206   2014-9-30  40    火        0  ...    NaN       快晴            --        28.1

[107 rows x 12 columns]

6.trainで今度はyとweekの2つのカラムを選択したい。どうしたらいいだろう？
- []をもう一つ使う

In [ ]:
train[['y','week']]

       y week
0     90    月
1    101    火
2    118    水
3    120    木
4    130    金
..   ...  ...
202   59    水
203   50    木
204   45    金
205   56    月
206   40    火

[207 rows x 2 columns]

In [ ]:
train[['y','week','kcal']]

       y week   kcal
0     90    月    NaN
1    101    火    NaN
2    118    水    NaN
3    120    木    NaN
4    130    金    NaN
..   ...  ...    ...
202   59    水  408.0
203   50    木  394.0
204   45    金    NaN
205   56    月  404.0
206   40    火  398.0

[207 rows x 3 columns]